/* General */
[class*="col-"] {
  border: 1px solid black;
  /* height: 100px; */
}


/* ul li{
  display: inline-block;
  list-style: none;
  margin: 0px 10px;
}
ul li a{
  text-decoration: underline;
  color: #1D83C1;
} */


/* Header */
header{
  background-color: #1137B5;
  color: #1D83C1;
  position: fixed;
  z-index: 1;
  width: 100%;
}
header ul li{
  display: inline-block;
  list-style: none;
  margin: 0px 10px;
}
header ul li a{
  text-decoration: underline;
  color: #1D83C1;
}
header h4{
  padding: 10px 0px;
}
.nav-bar{
  margin-top: 30px;
}
.icona-menu{
  display: none;
}

/* Main */

/* Home */
#home{
  background-color: lightblue;
  padding-bottom: 30px;
}
#home p{
  text-align: justify;
}
#home img{
  width: 100%;
  object-fit: contain;
  margin-top: 100px;
  padding-top: 25px;
}



/* Sezione Chi Sono */
#chi_sono h2{
  font-size: 30px;
}
#chi_sono p{
  font-size: 20px;
}

#chi_sono img{
  height: 350px;
  object-fit: contain;
}

#chi_sono span{
  font-size: 25px;
}
#chi_sono .seconda-row ul li{
  display: inline-block;
  list-style: none;
  font-size: 15px;
  display: block;
}

.prima-row{
  padding-top: 50px;
  padding-bottom: 25px;
  background-color: #1D83C1;
}
.seconda-row{
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: lightblue;
}
.terza-row{
  padding-top: 25px;
  padding-bottom: 50px;
  background-color: #1D83C1;
}

/* Esperienza */
#esperienza .prima-riga{
  background-color: lightblue;
}
#esperienza .seconda-riga{
  background-color: #1D83C1;
}

/* Header */
footer{
  background-color: #1137B5;
}
footer i{
  color: #1D83C1;
}
footer i.fa-instagram{
  margin-left: -45px;
}
footer ul li{
  display: inline-block;
  list-style: none;
  margin: 0px 10px;
}
footer ul li a{
  text-decoration: underline;
  color: #1D83C1;
}




/* Media Query */

/* Media Query MD */
@media screen and (min-width: 992px) and (max-width: 1199px) {

  /* Header */
  .icona-menu{
    display: block;
  }
  .nav-orizzontale li{
    display: block;
    text-align: right;
    font-size: 15px;
  }
  .menu-hamburger{
    text-align: right;
    font-size: 25px;
    margin-right: 15px;
  }
  .nav-orizzontale{
    display: none;
  }
  a.icona-menu:focus + .nav-orizzontale {
    display: block;
  }

  header h1{
    font-size: 45px;
  }
  header .icona-menu{
    font-size: 35px;
  }
  header ul li{
    margin: 10px 10px 10px 0px;
  }
  header ul li a{
    font-size: 20px;
  }

  .menu-hamburger i{
    margin-left: 15px;
  }
  /* Header (fine) */

  /* Main */
  /* Home */
  #home img{
    margin-top: 110px;
  }

  /* Home (fine) */

  /* Main (fine) */
}

/* Media Query SM */
@media screen and (min-width: 768px) and (max-width: 991px) {

  /* Header */
  .icona-menu{
    display: block;
  }
  .nav-orizzontale li{
    display: block;
    text-align: right;
    font-size: 15px;
  }
  .menu-hamburger{
    text-align: right;
    font-size: 25px;
    margin-right: 15px;
  }
  .nav-orizzontale{
    display: none;
  }
  a.icona-menu:focus + .nav-orizzontale {
    display: block;
  }

  header h1{
    font-size: 45px;
    white-space: nowrap;
  }
  header .icona-menu{
    font-size: 35px;
  }
  header ul li{
    margin: 10px 10px 10px 0px;
  }
  header ul li a{
    font-size: 20px;
  }


  .menu-hamburger i{
    margin-left: 15px;
  }
  /* Header (fine) */

  /* * Main * */
  /* Home */
  #home img{
    margin-top: 110px;
  }


  #chi_sono .prima-row h2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }
  #chi_sono .prima-row .primo-paragrafo p{
    width: 60%;
    margin: auto;
    text-align: justify;
    padding: 30px 0px;
  }

  #chi_sono .seconda-row span{
    font-size: 35px;
  }

  /* Home (fine) */

  /* Main (fine) */
}

/* Media Query XS */
@media screen and (max-width: 767px) {

  /* Header */
  .icona-menu{
    display: block;
  }
  .nav-orizzontale li{
    display: block;
    text-align: right;
    font-size: 15px;
  }
  .menu-hamburger{
    text-align: right;
    font-size: 25px;
    margin-right: 15px;
  }
  .nav-orizzontale{
    display: none;
  }
  a.icona-menu:focus + .nav-orizzontale {
    display: block;
  }

  header h1{
    font-size: 60px;
    text-align: center;
  }
  header h4{
    font-size: 25px;
    text-align: center;
  }
  header .icona-menu{
    font-size: 35px;
  }
  header ul li{
    margin: 10px 10px 10px 0px;
  }
  header ul li a{
    font-size: 20px;
  }

  .menu-hamburger i{
    margin-left: 15px;
  }
  /* Header (fine) */

  /* * Main * */
  /* Home */
  #home img{
    margin-top: 209px;
  }



  /* Home (fine) */

  /* Main (fine) */
}










/* Media Query Main */

/* Media Query Main (Fine) */


/* @media screen and (min-width: 992px) and (max-width: 1199px) {

} */
